.header-class {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.ul-class {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  background-color: #242424;
  padding: 16px;
  
  place-items: center;
  border-radius: 10px;
  
  align-items: stretch;
}

.li-movies {
  display: flex;
  flex-direction: column;
}

.li-movies > img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: contain;
}
/*
span {
  
}
*/
button {
  cursor: pointer;
}

.footer-class {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.page-number {
  display: flex;
  place-self: center;
  
  margin-inline: 4px;
  padding: 0px 8px;
  box-shadow: 1px 1px 10px black, 0px 0px 6px white;
  border-radius: 8px;
  
  cursor: pointer;
  user-select: none;
}

.page-number:hover {
  background-color: #242424be;
  box-shadow: 1px 1px 16px black, 0px 0px 10px white;
}

.actual {
  font-size: 18px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.781) inset, 0px 0px 4px rgba(255, 255, 255, 0.438) inset;
  color: rgba(187, 187, 187, 0.678); background-color: rgba(43, 42, 42, 0.295);
  border: 1px solid rgba(255, 255, 255, 0.062);
  cursor: default;
  pointer-events: none;
}