.cell{
	width: var(--clamp-min);
	height: var(--clamp-min);
	
	border: 2px solid var(--border-color);
	border-radius: var(--clamp-min);
	
	display: grid;
	place-items: center;
	
	font-size: var(--size-lg);
	
	cursor: pointer;
}

.cell:hover{
	border: 2px solid var(--cell-color);
	background-color: var(--cell-bg-color);
	box-shadow: var(--box-shadow);
	transform: translateY(2px);
	
	transition: 0.2s ease-in-out;
}

.cell.filled {
	opacity: 0.6;
	cursor: default;
}

.cell.filled:hover {
	border: 2px solid var(--problem-color);
	background-color: var(--cell-bg-warn-color);
	box-shadow: none;
	transform: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cell {
    font-size: var(--size-xxl);
  }
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
  .cell {
    font-size: var(--size-xxxl);
  }
  
}