:root {
	--border-color: #e7dfdf;
	--border-warn-color: #ff0000;
	
	--cell-color: #1d9cf0e7;
	--cell-bg-color: #1d9cf04f;
	--cell-bg-warn-color: #ff000009;
	
	--turn-color: #3566a7;
	--turn-bg-color: #72c7ff33;
	
	--text-shadow: 1px 1px black, -1px -1px black;
	--box-shadow: 6px 6px 16px black, -1px -1px 4px var(--light-color);
}

.board {
	color: var(--light-color);
	text-align: center;
	text-shadow: var(--text-shadow);
}

.board .game {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--gap-lg);
}

.game-title {
	font-size: var(--size-xxl);
	font-weight: bolder;
	
	padding-block: var(--padding-xxl);
}

.turn {
	display: flex;
	justify-content: space-evenly;
	
	margin-block: var(--padding-xxl);
}

.turn .selected {
	border: 2px solid var(--turn-color);
	background-color: var(--turn-bg-color);
	cursor: default;
}

.turn .selected:hover {
	transform: none;
	box-shadow: none;
}