@import '../../../utils.css';

.board {
	color: var(--light-color);
	text-align: center;
	text-shadow: var(--text-shadow);
	
	width: var(--width-mobile);
}

.board .game {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	gap: var(--gap-md);
}

.game-title {
	font-size: var(--size-xxl);
	font-weight: bolder;
	
	padding-block: var(--padding-xxl);
	transition: .5s ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .board {
    width: var(--width-tablet);
  }
	
	.game-title {
		font-size: var(--size-xxxl);
	}
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
  .board {
    width: var(--width-desktop);
  }
	
  .game-title {
		font-size: var(--size-super-sm);
	}
}